<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= character.Name %></h1>
    <div><%= character.Description %></div>
    <div>On Compliment: <%= character.Compliment %></div>
    <div>On Offer of Help: <%= character.Help %></div>
    <div>On Invite: <%= character.Invite %></div>
  </body>
</html>
